<div class="row">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
        <ul class="noul text-center">
            {% for info in infos %}
                <li class="noli">
                        {% if info['type'] == 'SUCCES' %}
                            <span class="label label-success">Succès</span>
                        {% elseif info['type'] == 'INFO' %}
                            <span class="label label-info">Info</span>
                        {% elseif info['type'] == 'ERROR' %}
                            <span class="label label-danger">Erreur</span>
                        {% endif %}
                    <span> {{info['message']}}</span>
                </p>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4"></div>
</div>