{% extends "_commun.twig" %} 
{% block content %}
    <div class="center">
        <form class="form-row"  method="post" action="/login/" >
        	<div class="form-group col-xs-8 col-sm-4 col-md-2 col-lg-2 col-xs-offset-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
        		<input type="login" class="form-control" id="input_login"  name="login" placeholder="login" maxlength=16 required>
        	</div>
        	<div class="form-group col-xs-8 col-sm-4 col-md-2 col-lg-2 col-xs-offset-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
        		<input type="password" class="form-control" id="input_mdp"  name="mdp" placeholder="*****" maxlength=16 required>
        	</div>
        	<div class="form-group col-xs-8 col-sm-4 col-md-2 col-lg-2 col-xs-offset-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
        	    <button type="submit" class="btn btn-primary">Se connecter</button>
        	</div>
        </form>
    </div>
{% endblock %}
