.errorMsg {
    border-color: #d9534f;
}

.succesMsg {
    border-color: #5cb85c;
}

h1 {
    color : red;
}

.red{
    color : red;
}
.center {
    text-align : center;
}

.taille{
    height: 200px;
}
/*
*{
   font-family:"Comic Sans MS",  Comic Sans, cursive;
}
*/
.input-group{
    margin-bottom: 5px;
}

.nomargin {
    margin-right: 0px;
    margin-left: 0px;
}

.nobtn{
    
    padding: 6px 12px;
    background-image: none;
    float: left;
    
    color: #333;
    background-color: #fff;
    
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 0px;
    
    margin-left: -1px;
    margin-right: -1px;
}