.errorMsg {
    border-color: red;
}

h1 {
    color : red;
}

.red{
    color : red;
}
.center {
    text-align : center;
}

.taille{
    height: 200px;
}
/*
*{
   font-family:"Comic Sans MS",  Comic Sans, cursive;
}
*/
.input-group{
    margin-bottom: 5px;
}