.errorMsg {
    border-color: #d9534f;
}

.succesMsg {
    border-color: #5cb85c;
}

h1 {
    color : red;
}

.red{
    color : red;
}

.black{
    color:black;
}
.center {
    text-align : center;
}

.t200{
    height: 200px;
}

.t60{
    height: 50px;
}

 .t40{
    height: 35px;
 }
 
 .t80{
    height: 70px;
    overflow: hidden;
 }

.t20{
    height: 20px;
}
/*
*{
   font-family:"Comic Sans MS",  Comic Sans, cursive;
}
*/
.input-group{
    margin-bottom: 5px;
}

.nomargin {
    margin-right: 0px;
    margin-left: 0px;
}

.nobtn{
    
    padding: 6px 12px;
    background-image: none;
    float: left;
    
    color: #333;
    background-color: #fff;
    
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 0px;
    
    margin-left: -1px;
    margin-right: -1px;
}

.noul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
.noli {
    margin-bottom:15px;/* à adapter */
 }